$color-default: blue;

div {
  background: url('../img/webpack.png');
  background-repeat: no-repeat;
  color: $color-default;
  padding: 10px;
  text-align: center;
  width: 300px;
  height: 250px;
}

h2 {
  font-family: 'Roboto', sans-serif;
}
