doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie-edge")

    title Webpack 4

  body
    include parts/header.pug

    main
      h1 Hello from content pug
      h2 Boostrap 4 Working...
      a(href="#").btn.btn-primary.mr-4 Button primary
      a(href="#").btn.btn-success Button secondary
      h3 FontAwesome is Working...
        i.fab.fa-node-js
      h4 Dev Server Reloading is working...
      h5 Reloading in Pug is working...
      h6.test-server Reloading in Saas is working...
      h1 Test image
      img(src="assets/img/images.png")

    include parts/footer.pug
